{% extends 'footer.html' %}
{% load staticfiles%}
{% block body %}
<style>
    .opac{
        width:100%;
        padding:0px;
        background:rgba(0,0,0,0.7);
    }
    .navbar a{
        color:white !important;
    }
    p{
        color:grey;
        font-size:18px;
    }
    .carousel-indicators li{
        width:15px;
        height:15px;
        border-radius:50%;
        margin:5px;
    }
    .links{
        height:40px;
        border-radius:5px;
        border:2px solid #5caf01;;
        padding-right:5px;
    }
</style>
<!-- Image Row -->
<div class='row mx-0' style='background:url("{% static 'images/hello.jpg' %}"); background-size:100% 100%; background-repeat:no-repeat; background-attachment:fixed; overflow:hidden;'>
    <div class='col-md-12'></div>
    <!-- Opacity Row -->
    <div class='opac'>
        <!-- Navbar Row -->
        <div class='row'>
            <div class='col-md-12'>
                <nav class='navbar navbar-expand-sm fixed-top linkcolor' style='border-bottom:1px solid #ccc;'>
                    <a href="" class='navbar-brand'><img src="{% static 'images/logo.png' %}" alt="no image"></a>
                    <!-- Toggler Icon for sm screen -->
                    <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='#myid'>
                        <span class='navbar-toggler-icon'></span>
                    </button>
                    <div id='myid' class='collapse navbar-collapse'>
                        <ul class='navbar-nav ml-auto'>
                            <li class='nav-item'>
                                <a href="{% url 'hm' %}" class='nav-link'>Home</a>                                  
                            </li>
                            <li class='nav-item dropdown'>
                                <a href="" class='nav-link dropdown-toggle' data-toggle='dropdown'><i class="fas fa-sign-in-alt"></i> Sign Up</a>
                                <div class='dropdown-menu bg-dark text-light'>
                                    <a href="{% url 'ProjectApp:signRecruiter' %}" class='dropdown-item text-dark'>As Recruiter</a>
                                    <a href="{% url 'ProjectApp:signCandidate' %}" class='dropdown-item text-dark'>As Candidate</a>
                                </div> 
                            </li>
                            <li class='nav-item'>
                                <a href="{% url 'ProjectApp:login' %}" class='nav-link'><i class="fas fa-user"></i> Login</a>
                            </li>
                            <li class='nav-item'>
                                <a href="{% url 'ProjectApp:contact' %}" class='nav-link'>Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Main row -->
        <div class='row' style='padding:200px 0px 150px 40px;'>
            <div class='col-md-12 text-white'>
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</div>
<!-- About Row -->
<div class='row mx-0'>
    <div class='col-md-12' style='padding:100px;'>
        <div class='row'>
            <div class='col-md-6'>
                <img src="{% static 'images/about (1).jpg' %}" alt="no image">
            </div>
            <div class='col-md-6 px-0'>
                <p>Empower Yourself</p>
                <h1 style='font-size:40px;'>About Us</h1>
                <p>The entire purchase experience depends upon trust in order to be successful. Every conversion is an indication that trust has been won. Every new customer represents a person whose trust has been earned. Every return customer represents a person whose trust continues to be held.</p>
                <div class='row py-3'>
                    <div class='col-md-6'>
                        <h4>Technology</h4>
                        <p>It is because of the technology that we have reached Moon and planning to set up human colony on Mars.</p>
                    </div>
                    <div class='col-md-6'>
                        <h4>Humanities</h4>
                        <p>The test of leadership is not to put greatness into humanity, but to elicit it, for the greatness is already there.</p>
                    </div>
                </div>
                <div class='btn px-5 text-white btnn' style='background:#5caf01;'>Find Jobs</div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel Row -->
<div class='row mx-0'>
    <div class="col-md-12 text-center p-5" style='background:lavender;'>
        <div id="demo" class="carousel slide" data-ride="carousel">                            
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class='cardiv'>
                        <img src="{% static 'images/thumb1.jpg' %}" alt="no image" width='100px' height='100px' style='border-radius:50%;'>
                        <p style='color:grey; font-size:20px; padding:40px;'>I met so many interesting people over the last couple of months, who proved to stay ahead of the modern technologies in the world of branding and web design. I loved working with you all, thank you so much!</p>    
                        <img src="{% static 'images/quote.png' %}" alt="">
                        <h4 style='padding-top:40px;'>Keith M. Jordan</h4>
                        <p style='color:grey;'>Applied Researcher</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class='cardiv'>
                        <img src="{% static 'images/thumb2.jpg' %}" alt="no image" width='100px' height='100px' style='border-radius:50%;'>
                        <p style='color:grey; font-size:20px; padding:40px;'>I am drive by our belief of free education and skills training to change people's lives for the better and are passionate about providing an overall learning experience that meets their needs and helps them to acheive life goals.</p>
                        <img src="{% static 'images/quote.png' %}" alt="">
                        <h4 style='padding-top:40px;'>Thelma R. Furman</h4>
                        <p style='color:grey;'>Accounts Manager</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class='cardiv'>
                        <img src="{% static 'images/thumb3.jpg' %}" alt="no image" width='100px' height='100px' style='border-radius:50%;'>
                        <p style='color:grey; font-size:20px; padding:40px;'>I am inspired by the UN Declaration that "everyone is entitled to a free education". We are commited to equality and access to education irrespective of gender, geography, economic status or any other barriers to access.</p>
                        <img src="{% static 'images/quote.png' %}" alt="">
                        <h4 style='padding-top:40px;'>Ron M. Martin</h4>
                        <p style='color:grey;'>HR Manager</p>
                    </div>                                
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
            <ul class="carousel-indicators" style="position:static;">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
        </div>
    </div>
</div>
<!-- Companies Row -->
<div class='row mx-0'>
    <div class='col-md-12 py-5 px-5 text-center'>
        <div class='row'>
            <div class='col-md-2'>
                <img src="{% static 'images/c1.jpg' %}" alt="no image">
                <div class='opac'></div>
            </div>
            <div class='col-md-2'>
                <img src="{% static 'images/c2.jpg' %}" alt="no image">
            </div>
            <div class='col-md-2'>
                <img src="{% static 'images/c3.jpg' %}" alt="no image">
                <div class='opac'></div>
            </div>
            <div class='col-md-2'>
                <img src="{% static 'images/c4.jpg' %}" alt="no image">
            </div>
            <div class='col-md-2'>
                <img src="{% static 'images/c5.jpg' %}" alt="no image">
            </div>
            <div class='col-md-2'>
                <img src="{% static 'images/c6.jpg' %}" alt="no image">
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $(document).scroll(function() {
        var $nav = $(".fixed-top");
        let a = $(this).scrollTop();
        if(a > 100){
            $('.navbar').css('background','black');
            $('.navbar').css('border','0px');
        } 
        else{
            $('.navbar').css('background','transparent');
            $('.navbar').css('border-bottom','1px solid grey');
        }
        });    
        $('.btnn').mouseover(function(){
            $(this).css('background','transparent');
            $(this).css('border','2px solid green');
            $(this).removeClass('text-white').addClass('text-dark');
        });
        $('.btnn').mouseout(function(){
            $(this).css('background','green');
            $(this).css('border','0px');
            $(this).removeClass('text-dark').addClass('text-white');
        });
    });
</script>
{% endblock %}