{% extends 'recruiter_dash.html' %}
{% load staticfiles %}
{% block mycode %}
<div class='row'>
    <div class='col-md-11 mx-auto py-4' style='background:rgba(255,255,255,0.7);'>
        <h2 class='text-center'>Applicants List</h2>
        {% if status %}
            <h1 class='text-center'>{{status}}</h1>
        {% endif %}
        <div class="card-columns mx-0">
            {% for i in all %}
                <div class="card mx-0">
                    <div class="card-head">
                        <h4 class='bg-dark text-light p-2'>{{i.candidate.user.username}}</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Job: {{i.job.position}}</h5>
                        <span class="card-text">
                            <p>Qualification: {{i.qualification}}</p>
                            <p>Passing Out Year: {{i.passing_out_year}}</p>
                            <p>Experience: {{i.experience}}</p>
                            <p>Address: {{i.candidate.city}}</p>
                            <p>Applied On: {{i.applied_on}}</p>
                            <a href="/media/{{i.resume}}" download class='btn'><i class="fas fa-download" style='font-size:20px; color:#5caf01;'>Download Resume</i></a>
                            <a href="{% url 'ProjectApp:mail' %}?id={{i.candidate.id}}" class='btn btn-primary' style='margin-left:65px;'>Respond</a>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
</div>
</div>
{% endblock %}