{% extends 'footer.html' %}
{% load staticfiles %}
{% block body %}
<style>
    .opac{
        width:100%;
        padding:0px;
        background:rgba(0,0,0,0.7);
    }
    .navbar a{
        color:white !important;
    }
    .links{
        height:40px;
        border-radius:5px;
        border:2px solid #5caf01;;
        padding-right:5px;
    }
    p{
        color:grey;
    }
</style>

<!-- Image Row -->
<div class='row mx-0' style='background:url("{% static 'images/about.jpg' %}"); background-size:100% 100%; background-repeat:no-repeat; background-attachment:fixed; overflow:hidden;'>
    <div class='col-md-12'></div>
    <!-- Opacity Row -->
    <div class='opac'>
        <!-- Navbar Row -->
        <div class='row'>
            <div class='col-md-12'>
                <nav class='navbar navbar-expand-sm fixed-top linkcolor' style='border-bottom:1px solid #ccc;'>
                    <a href="" class='navbar-brand'><img src="{% static 'images/logo.png' %}" alt="no image"></a>
                    <!-- Toggler Icon for sm screen -->
                    <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='#myid'>
                        <span class='navbar-toggler-icon'></span>
                    </button>
                    <div id='myid' class='collapse navbar-collapse'>
                        <ul class='navbar-nav ml-auto'>
                            <li class='nav-item'>
                                <a href="{% url 'hm' %}" class='nav-link'>Home</a>                                                                      
                            </li>
                            <li class='nav-item'>
                                <a href="{% url 'ProjectApp:about' %}" class='nav-link'>About</a>                                                                      
                            </li>
                            <li class='nav-item dropdown'>
                                <a href="" class='nav-link dropdown-toggle' data-toggle='dropdown'><i class="fas fa-sign-in-alt"></i> Sign Up</a>
                                <div class='dropdown-menu bg-dark text-light'>
                                    <a href="{% url 'ProjectApp:signRecruiter' %}" class='dropdown-item text-dark'>As Recruiter</a>
                                    <a href="{% url 'ProjectApp:signCandidate' %}" class='dropdown-item text-dark'>As Candidate</a>
                                </div> 
                            </li>
                            <li class='nav-item'>
                                <a href="{% url 'ProjectApp:login' %}" class='nav-link'><i class="fas fa-user"></i> Login</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Main row -->
        <div class='row' style='padding:200px 0px 150px 40px;'>
            <div class='col-md-12 text-white'>
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
</div>
<!-- Map Row -->
<div class='row mx-0'>
    <div class='col-md-12 px-0'>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16675.223814009238!2d75.73692433038028!3d31.234135575690456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391af51e25b1e181%3A0x62d8b236195b7269!2sRamgarhia+Institute+of+Engineering+And+Technology!5e0!3m2!1sen!2sin!4v1557239034482!5m2!1sen!2sin" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe></div>
</div>
<!-- Form Row -->
<div class='row mx-0'>
    <div class='col-md-12' style='padding:100px;'>
        <div class='row'>
            <div class='col-md-8'>
                    <h2>Contact Form</h2>
                    {% if status %}
                        <p class='alert alert-success'>{{status}}</p>
                    {% endif %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class='row form-group'>
                            <div class='col-md-6'>
                                <label for="">Name</label>
                                <input type="text" class='form-control' placeholder='Name' name='un'/>
                            </div>
                            <div class='col-md-6'>
                                <label for="">Phone</label>
                                <input type="number" class='form-control' min='6000000000' max='9999999999' name='con' placeholder='Phone'/>
                            </div>
                        </div>
                        <div class='row form-group'>
                            <div class='col-md-6'>
                                <label for="">Email</label>
                                <input type="email" class='form-control' name='email' placeholder='Email'/>
                            </div>
                            <div class='col-md-6'>
                                <label for="">Subject</label>
                                <input type="text" class='form-control' name='sub' placeholder='Subject'/>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label for="">Message</label>
                            <textarea cols="30" rows="7" class='form-control' name='msg' placeholder='Message'></textarea>
                        </div>
                        <div class='form-group'>
                            <button class='btn text-white px-5' style='background:#5caf01;'>Send Message</button>
                        </div>
                    </form>
            </div>
            <div class='col-md-4'>
                <h2>Contact Info</h2>
                <div class='row'>
                    <div class='col-md-1'>
                        <i class="fas fa-map-marker-alt" style='color:#5caf01;'></i>
                    </div>
                    <div class='col-md-11'>
                        <p>567 Jacksotts street, San Diego, CA</p>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-1'>
                        <i class="fas fa-phone" style='color:#5caf01;'></i>
                    </div>
                    <div class='col-md-11'>
                        <p>1(800) 123-12345</p>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-1'>
                        <i class="fas fa-pencil-alt" style='color:#5caf01;'></i>
                    </div>
                    <div class='col-md-11'>
                        <p>mail@example.com</p>
                    </div>
                </div>
                <h2>Open Hours</h2>
                <div class='row'>
                    <div class='col-md-1'>
                        <i class="far fa-clock" style='color:#5caf01;'></i>
                    </div>
                    <div class='col-md-6'>
                        <h6>Monday-Friday</h6>
                    </div>
                    <div class='col-md-5'>
                        <p>9:00-17:00</p>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-1'>
                        <i class="far fa-clock" style='color:#5caf01;'></i>
                    </div>
                    <div class='col-md-6'>
                        <h6>Saturday</h6>
                    </div>
                    <div class='col-md-5'>
                        <p>10:00-15:00</p>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-1'>
                        <i class="fas fa-times" style='color:#5caf01;'></i>
                    </div>
                    <div class='col-md-6'>
                        <h6>Sunday</h6>
                    </div>
                    <div class='col-md-5'>
                        <p>Closed</p>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-1'>
                        <i class="far fa-clock" style='color:#5caf01;'></i>
                    </div>
                    <div class='col-md-6'>
                        <h6>Holidays</h6>
                    </div>
                    <div class='col-md-5'>
                        <p>10:00-13:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $(document).scroll(function() {
        var $nav = $(".fixed-top");
        let a = $(this).scrollTop();
        if(a > 100){
            $('.navbar').css('background','black');
            $('.navbar').css('border','0px');
        } 
        else{
            $('.navbar').css('background','transparent');
            $('.navbar').css('border-bottom','1px solid grey');
        }
        });    
        $('.btnn').mouseover(function(){
            $(this).css('background','transparent');
            $(this).css('border','2px solid green');
            $(this).removeClass('text-white').addClass('text-dark');
        });
        $('.btnn').mouseout(function(){
            $(this).css('background','green');
            $(this).css('border','0px');
            $(this).removeClass('text-dark').addClass('text-white');
        });
    });
</script>
{% endblock %}