{% extends 'recruiter_dash.html' %}
{% load staticfiles %}
{% block mycode %}
<div class='row'>
    <div class='col-md-8 mx-auto py-4' style='background:rgba(255,255,255,0.7);'>
        <h2 class='text-center'>Edit Post</h2>
        <form action=""method='POST'>
            {% csrf_token %}
            {% if status %}
                <p class='alert alert-success'>{{status}}</p>
            {% endif %}
            <div class='form-group'>
                <label for="">Position</label>
                <input type="text" class="form-control" value="{{post.position}}" name='position'>
            </div>
            <div class='form-group'>
                <label for="">Salary</label>
                <input type="text" class="form-control" value="{{post.salary}}" name='sal'>
            </div>
            <div class='form-group'>
                <label for="">Vacancies</label>
                <input type="text" class="form-control" value="{{post.vacancies}}" name='vacancy'>
            </div>
            <div class='form-group'>
                <label for="">Requirements</label>
                <input type="text" class="form-control" value="{{post.requirements}}" name='req'>
            </div>
            <div class='form-group'>
                <label for="">Hr Name</label>
                <input type="text" class="form-control" value="{{post.hr_name}}" name='hrname'>
            </div>
            <div class='form-group'>
                <label for="">Hr Contact</label>
                <input type="text" class="form-control" value="{{post.hr_contact}}" name='hrcontact'>
            </div>
            <div class='form-group'>
                <label for="">City</label>
                <input type="text" class="form-control" value="{{post.city}}" name='city'>
            </div>
            <div class='form-group'>
                <label for="">Experience</label>
                <input type="text" class="form-control" value="{{post.experience}}" name='exp'>
            </div>
            <div class='form-group'>
                <label for="">Description</label>
                <textarea name="desc" class='form-control'>{{post.description}}</textarea>
            </div>
            <div class='form-group'>
                <input type="submit" class='btn btn-block' style='background:#5caf01;' value='Save Changes'>
            </div>
        </form>
    </div>
</div>
{% endblock %}