<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recruitment System</title>
    <link rel='shortcut icon' href='{% static "images/logo.png" %}'>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script src='{% static "jquery.js" %}'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src='{% static "js/bootstrap.js" %}'></script>
    <style>
        .linkcolor{
            color:white;
        }
        .links{
            height:40px;
            border-radius:5px;
            border:2px solid #5caf01;
        }
        .links:hover{
            background-color: #5caf01;
        }
        .xy a{
            color:white;
            font-size:20px;
        }
    </style>
</head>
<body>
    {% block body %}
    {% endblock %}
    <div class='row text-white px-0 mx-0'>
        <div class='col-md-12'>
            <div class='row bg-dark' style='padding:100px 50px 100px 50px;'>
                <div class='col-md-3'>
                    <img src="{% static 'images/logo.png' %}" alt="" class='pb-5'>
                    <p class='text-white'>Isn't days fill, after him bring. Set likeness meat seed whose for itself you can't seas itself. Herb replenish he, dry he. Firmament their.</p>
                </div>
                <div class='col-md-3' style='padding:0px 50px 30px 50px;'>
                    <div class='row'>
                        <div class='col-md-12 pb-5'>
                            <h4>Tag</h4>
                        </div>
                        <div class='row pb-3'>
                            <div class='col-md-12'>
                                <span class='links px-2 py-1'>Technology</span>
                                <span class='links px-2 py-1'>Humanities</span>
                            </div>
                        </div>
                        <div class='row pb-3'>
                            <div class='col-md-12'>
                                <span class='links px-2 py-1'>Language</span>
                                <span class='links px-2 py-1'>Science</span>
                            </div>
                        </div>
                        <div class='row pb-3'>
                            <div class='col-md-12'>
                                <span class='links px-2 py-1'>Business</span>
                                <span class='links px-2 py-1'>Marketing</span>
                            </div>
                        </div>
                        <div class='row pb-3'>
                            <div class='col-md-12'>
                                <span class='links px-2 py-1'>Technology</span>
                                <span class='links px-2 py-1'>Humanities</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-3 pl-5'>
                    <h4 class='pb-5'>Follow Us</h4>
                    <p class='xy'><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i> facebook</a></p>
                    <p class='xy'><a href='https://twitter.com/'><i class="fab fa-twitter"></i> twitter</a></p>
                    <p class='xy'><a href='https://telegram.org/'><i class="fab fa-telegram-plane"></i> telegram</a></p>
                    <p class='xy'><a href='https://in.linkedin.com/'><i class="fab fa-linkedin-in"></i> linkedin</a></p>   
                    <p class='xy'><a href='https://www.instagram.com/'><i class="fab fa-instagram"></i> instagram</a></p>
                    <p class='xy'><a href='https://www.youtube.com/'><i class="fab fa-youtube"></i> youtube</a></p>
                </div>
                <div class='col-md-3'>
                    <h4 class='pb-5'>Contact Info</h4>
                    <div class='row'>
                        <div class='col-md-1'>
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class='col-md-11'>
                            <p class='text-white'>567 Jacksotts street, San Diego, CA</p>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-1'>
                            <i class="fas fa-phone"'></i>
                        </div>
                        <div class='col-md-11'>
                            <p class='text-white'>1(800) 123-12345</p>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-1'>
                            <i class="fas fa-fax"></i>
                        </div>
                        <div class='col-md-11'>
                            <p class='text-white'>Fax: +1 709-834-2693</p>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-1'>
                            <i class="fas fa-pencil-alt"></i>
                        </div>
                        <div class='col-md-11'>
                            <p class='text-white'>mail@example.com</p>
                        </div>
                    </div>                                        
                </div>
            </div>
            <div class='row text-center' style='background:rgba(0,0,0,0.7);'>
                <div class='col-md-12 py-3'>
                    <span>2019 Recruitment System &copy;Copyright| Designed By: Navjot</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>