{% extends 'footer.html' %}
{% load staticfiles %}
{% block body %}
<style>
    nav a{
        color:white;
    }  
    nav a:hover{
        text-decoration: none;
        color:white;
    } 
</style>
<div class='row mx-0'>
    <div class='col-md-12 px-0'>
        <nav class='navbar navbar-expand-sm mx-0 bg-dark'>
            <a href="" class='navbar-brand'><img src="{% static 'images/logo.png' %}" alt="no image"></a>
            <!-- Toggler Icon for sm screen -->
            <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='#myid'>
                <span class='navbar-toggler-icon'></span>
            </button>
            <div id='myid' class='collapse navbar-collapse'>
                <ul class='navbar-nav ml-auto'>
                    <li class='nav-item'>
                        <a href="{% url 'hm' %}" class='nav-link'>Home</a>                                
                    </li>
                    <li>
                        <a href="{% url 'ProjectApp:about' %}" class='nav-link'>About</a>
                    </li>
                    <li class='nav-item'>
                        <a href="{% url 'ProjectApp:contact' %}" class='nav-link'>Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class='row mx-0' style='padding:90px; background:url("{% static 'images/login.jpeg' %}"); background-size:100% 100%;'>
    <div class='col-md-6 mx-auto py-5' style='background:rgba(255,255,255,0.7);'>
        <h2 class='text-center'>Forgot Password?</h2>
        <p class='' id='msz'></p> 
        <div class="card">
            <div class="card-header">
                <h5 class='card-title'>Find Your Account<span class='float-right text-dark'><i class='fas fa-user'></i></span></h5>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class='form-group'>
                        <label for="">Enter Your Registered Username</label>
                        <input type="text" class='form-control' placeholder="Username" name='usname' id='username' onkeyup="find_user()">
                    </div>
                    <div style='display:none;' id='x'>
                        <div class='form-group'>
                            <label for="">Your Registered Email is Given Below... An email with OTP is sent to you</label>
                            <input type="email" class='form-control' id="email" placeholder="Email" name='email'>
                        </div>
                        <div class='form-group'>
                            <label for="">Enter Your 6-digit OTP</label>
                            <input type="number" class='form-control' id='otp' placeholder="OTP" onkeyup='match_otp()'>
                        </div>
                    </div>
                    <div style='display:none;' id='y'>
                        <div class='form-group'>
                            <input type="password" class='form-control' id='p' placeholder="Password" name='password' onkeyup='check()'>
                        </div>
                        <div class='form-group'>
                            <input type="password" class='form-control' id='cp' placeholder="Confirm Password" onkeyup='check()'>
                        </div>
                    </div>
                    <div class='form-group'>
                        <input type="submit" class='btn btn-block' id='change' style='background:#5caf01;' value='Submit' disabled>
                    </div>
                    <div class='row'>
                        <input type="hidden" id="matchotp">
                        <div class='col-md-12'>
                            <a href="{% url 'ProjectApp:login' %}" class='float-right'>Login instead</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function find_user(){
        let un=$('#username').val();
        $.ajax({
            url:'{% url "ProjectApp:find_user" %}',
            type:'get',
            data:{usern:un},
            success:function(data){
                if(data=="not"){
                    $('#msz').html('User with this name not found!!').removeClass('alert alert-info').addClass('alert alert-danger');           
                }else{
                    let d=data.split(',')
                    $('#email').val(d[0])
                    $('#matchotp').val(d[1])
                    $('#x').css('display','block');
                    $('#msz').html('Fill up the details below').removeClass('alert alert-danger').addClass('alert alert-info');
                }
            }
        })
    }
    function match_otp(){
        let a=$('#otp').val();
        let b=$('#matchotp').val();
        if(a==b){
            $('#y').css('display','block');
        }
        else{
            $('#msz').html('Access Denied!!').removeClass('alert alert-info').addClass('alert alert-danger');           
        }
    }
    function check(){
        pw=$('#p').val();
        cpw=$('#cp').val();
        if(pw==cpw){
            $("#p").css('border','1px solid green')
            $("#cp").css('border','1px solid green')
            $('#change').removeAttr('disabled');
        }
        else{
            $('#p').css('border','1px solid red');
            $('#cp').css('border','1px solid red');
            $('#change').attr('disabled','disabled');       
        }
    }
</script>
{% endblock %}