{% extends 'footer.html' %}
{% load staticfiles %}
{% block body%}
<style>
    nav a{
        color:white;
    }
    nav a:hover{
        text-decoration: none;
        color:white;
    }
</style>
<div class='row mx-0'>
    <div class='col-md-12 px-0'>
        <nav class='navbar navbar-expand-sm mx-0 bg-dark'>
            <a href="" class='navbar-brand'><img src="{% static 'images/logo.png' %}" alt="no image"></a>
            <!-- Toggler Icon for sm screen -->
            <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='#myid'>
                <span class='navbar-toggler-icon'></span>
            </button>
            <div id='myid' class='collapse navbar-collapse'>
                <ul class='navbar-nav ml-auto'>
                    <li class='nav-item'>
                        <a href="{% url 'hm' %}" class='nav-link'>Home</a>                                
                    </li>
                    <li>
                        <a href="{% url 'ProjectApp:about' %}" class='nav-link'>About</a>
                    </li>
                    <li class='nav-item'>
                        <a href="{% url 'ProjectApp:contact' %}" class='nav-link'>Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class='row py-5 mx-0' style='background:url("{% static 'images/login.jpeg' %}");'>
    <div class='col-md-6 mx-auto py-5' style='background:rgba(255,255,255,0.7);'>
        <form action="" method="POST">
            {% csrf_token %}
            {% if status %}
            <p class='alert alert-primary'>{{status}}</p>
            {% endif %}
            {% if status1 %}
            <p class='alert alert-primary'>{{status1}}</p>
            {% endif %}
            <h1>Login</h1>
        <p style='color:grey;'>Login to save your progress</p>
        <form action="">
            <div class='form-group'>
                <label for="">Username</label>
                <input type="text" class='form-control' placeholder='Username' name="user"/>
            </div>
            <div class='form-group'>
                <label for="">Password</label>
                <input type="password" class='form-control' placeholder='Password' name="password"/>
            </div>
            <div class='row form-group'>
                <div class='col-md-6'>
                    <input type="checkbox" name='rememberme'/>Keep me logged in
                </div>
                <div class='col-md-6 text-right'>
                    <a href="{% url 'ProjectApp:forgot_password' %}" class='text-dark'>Forgot Password?</a>
                </div>
            </div>
            <div class='form-group'>
                <button class='btn text-white text-center px-5' style='background:#5caf01;'>Login</button>
            </div>
            <div class="dropdown text-center">
                Don't have an account? 
                <style>
                    .dropdown-toggle{
                        border:none;
                        box-shadow: none;
                        outline: none !important;
                        background: transparent;
                    }
                </style>
                <button type="button"  class="dropdown-toggle" data-toggle="dropdown">Sign Up</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'ProjectApp:signRecruiter' %}">As Recruiter</a>
                  <a class="dropdown-item" href="{% url 'ProjectApp:signCandidate' %}">As Candidate</a>                  
                </div>
              </div>
        </form>
    </div>
</div>
{% endblock %}