{% extends 'recruiter_dash.html' %}
{% block mycode %}
<div class='row'>
    <div class='col-md-8 mx-auto py-4' style='background:rgba(255,255,255,0.7);'>
        <h2 class='text-center'>Post Job Here</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if status %}
                <p class="alert alert-info">{{status}}</p>
            {% endif %} 
            <div class='form-group'>
                <label for="">Position</label>
                <input type="text" class='form-control' name='position' placeholder="Position">
            </div>
            <div class='form-group'>
                <label for="">Picture</label><br/>
                <input type="file" name='image'>
            </div>
            <div class='row form-group'>
                <div class='col-md-6'>
                    <label for="">Salary</label>
                    <input type="number" class='form-control' name='sal' placeholder="Salary">
                </div>
                <div class='col-md-6'>
                    <label for="">No. of Vacancies</label>
                    <input type="number" class='form-control' name='vacancy' placeholder="No. of Vacancies">
                </div>
            </div>
            <div class='form-group'>
                <label for="">Requirements</label>
                <textarea name="req" class='form-control' placeholder="Requirements"></textarea>
            </div>
            <div class='form-group'>
                <label for="">HR Name</label>
                <input type="text" class='form-control' name='hrname' placeholder="HR Name">
            </div>
            <div class='form-group'>
                <label for="">HR Contact</label>
                <input type="number" class='form-control' name='hrcontact' placeholder="HR Contact">
            </div>
            <div class='form-group'>
                <label for="">City</label>
                <input type="text" class='form-control' name='city' placeholder="City">
            </div>
            <div class='form-group'>
                <label for="">Experience</label>
                <select class='form-control' placeholder="Experience" name='exp'>
                    <option value="0">Fresher</option>
                    <option value="0-1">0-1 Years</option>
                    <option value="1-2">1-2 Years</option>
                    <option value="2-3">2-3 Years</option>
                    <option value="3-4">3-4 Years</option>
                    <option value="4-5">4-5 Years</option>
                    <option value="5-6">5-6 Years</option>
                    <option value="6-7">6-7 Years</option>
                    <option value="7-8">7-8 Years</option>
                    <option value="8-9">8-9 Years</option>
                    <option value="9-10">9-10 Years</option>
                </select>
            </div>
            <div class='form-group'>
                <label for="">Description</label>
                <textarea name="desc" class='form-control' placeholder="Description"></textarea>
            </div>
            <div class='form-group'>
                <input type="submit" class='btn btn-block' style='background:#5caf01;' value='Post Job'>
            </div>
        </form>
    </div>
</div>
{% endblock %}