{% extends 'candidate_dash.html' %}
{% load staticfiles %}
{% block mycode %}
<div class='row'>
    <div class='col-md-11 mx-auto py-4' style='background:rgba(255,255,255,0.7);'>
        {% if type %}
        <h2 class='text-center'>All Posts</h2>
        {% else %}
        <h2 class='text-center'>Recent Posts</h2>
        {% endif %}
        <div class="card-columns">
            {% for i in all %}
                <div class="card">
                    <div class="card-head">
                        <h4 class='bg-dark text-light p-2'>{{i.position}}</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Recruiter: {{i.name.company}}</h5>
                        <span class="card-text">
                            <p>Salary: {{i.salary}}</p>
                            <p>Experience: {{i.experience}}</p>
                            <p>Location: {{i.city}}</p>
                            <a href="{% url 'ProjectApp:cand_desc_job' %}?id={{i.id}}" class='btn btn-primary'>Check Description</a>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-md-12 mx-auto py-4'>
        <a href="{%url 'ProjectApp:recent_posts' %}?all=all" class='btn btn-danger float-right'>See All Posts</a>
    </div>
</div>
{% endblock %}